<section>
  <table>
    <tr class="top">
      <th>
        <%= image_tag '/images/top.png', size: '300x155', alt: 'top' %>
      </th>
      <td>
        <% Costume.top.each do |cos| %>
          <%= link_to image_tag("/images/top_#{cos.color}.jpg", size: '120x95', alt: 'top'), cos %>
        <% end %>
      </td>
    </tr>

    <tr class="bottom">
      <th>
        <%= image_tag '/images/bottom.png', size: '300x155', alt: 'bottom' %>
      </th>
      <td>
        <% Costume.bottom.each do |cos| %>
          <%= link_to image_tag("/images/bottom_#{cos.color}.jpg", size: '120x95', alt: 'bottom'), cos %>
        <% end %>
      </td>
    </tr>

    <tr class="boots">
      <th>
        <%= image_tag '/images/boots.png', size: '300x155', alt: 'boots' %>
      </th>
      <td>
        <% Costume.boots.each do |cos| %>
          <%= link_to image_tag("/images/boots_#{cos.color}.jpg", size: '120x95', alt: 'boots'), cos %>
        <% end %>
      </td>
    </tr>

    <tr class="others">
      <th>
        <%= image_tag '/images/others.png', size: '300x155', alt: 'others' %>
      </th>
      <td>
        <% Costume.others.each do |cos| %>
          <%= link_to image_tag("/images/others_#{cos.other}.jpg", size: '120x95', alt: 'others'), cos %>
        <% end %>
      </td>
    </tr>
  </table>
</section>

<section>
  <div class="form">
    <%= form_for @costume do |f| %>
      <%= f.select :kind, [['トップス', 'top'], ['ボトムス','bottom'], ['ひざ下','boots'], ['その他','others']], prompt: 'clothes' %>
      <%= f.select :color, [['赤', 'red'], ['青','blue'], ['黄','yellow'], ['緑', 'green'], ['黒','black'], ['灰','gray'], ['白', 'white']], prompt: 'color' %>
      <%= f.select :other, [['時計', 'watch'], ['指輪','ring'], ['イヤリング','earrings'], ['スマフォ', 'phone'], ['メガネ','glasses']], prompt: 'others' %>
      <%= f.submit 'Submit', class: "btn btn-primary submit" %>
    <% end %>
  </div>
</section>
